
/* this stylesheet is for things that only apply to the blog page */

/* left hand side blog title */
h1 {
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: aquamarine;
  text-shadow: 1px 1px blue;
  padding-left: 15px;
}

/* the section is what the blog posts go into */
section {
  margin: 10px;
  padding: 10px;
  border: 2px double;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}

/* the article is each individual blog post */
article {
  margin: 10px;
  padding: 10px;
  border: 2px double;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}

/* title of blog post */
section h4 {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom:15px;
  border-bottom: 2px solid;
}

/* content of blog post */
section p{
  font-size: 12px;
  font-style: italic;
  margin: 20px 15px;
}

/* username for blog post */
section h5 {
  font-size: 13px;
  margin-top: 25px;
}

