/* styles that only apply to the main page where the blog form is. */

/* navbar */
nav {
  display: flex;
  flex-direction: row-reverse;
  border: 2px double;
  padding: 5px 10px;
}

/* the container that holds both the circle picture and the form */
main {
  height: 100%;
}

/* title in the circle */
h1 {
  text-align: center;
  align-items: center;
  font-size: 45px;
  color: aquamarine;
  text-shadow: 1px 1px blue;
  height: max-content;
  width: max-content;
}

/* container for whole form section */
#blog-post {
  order: 2;
  margin: 30px;
  padding: 30px;
  border: 2px double;
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* title for the form */
h2 {
  text-align: center;
  order: 1;
  font-size: 50px;
}

/* applies to the whole form */
form {
    order: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* applies only to inputs */
input {
  width: -webkit-fill-available;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  background-color: rgb(54, 45, 45);
  color: rgb(185, 255, 255);
  border-radius: 7px;
  resize: vertical;
}

/* for the content input */
textarea {
  width: -webkit-fill-available;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  background-color: rgb(54, 45, 45);
  color: rgb(185, 255, 255);
  border-radius: 7px;
  resize: vertical;
  min-height: 250px;
}

/* submit button */
#submit{
    cursor: pointer;
}

/* container for the circle picture and title */
#icon {
  order: 1;
  align-self: center;
  display: flex;
  align-items: center;
  background-image: url(../images/sunflower.jpg);
  background-size:cover;
  clip-path: circle(42%);
  background-repeat:repeat-y;
  background-position: -10px -20px;
  padding: 0px;
  flex-direction: column;
  width: 50%;
  min-height: 500px;
  justify-content: center;
}

/* for links etc.  */
footer {
  text-align: center;
  bottom: 0px;
}

/* ======= media screensize alteration ==========*/
@media screen and (max-width: 768px) {
  main,
  nav, footer, .links {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    display: flex;
    clip-path: circle(30%);
    min-height: 300px;
  }

  .icon h1 {
    display: flex;
    text-align: center;
    left: 10px;
  }
}
