

h1 {
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: aquamarine;
  text-shadow: 1px 1px blue;
  padding-left: 15px;
}

section {
  margin: 10px;
  padding: 10px;
  border: 2px double;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}

section h4 {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: 2px solid;
}

section p{
  font-size: 12px;
  font-style: italic;
  margin: 20px 15px;
}

section h5 {
  font-size: 13px;
}

