:root {
  --darkBg: rgb(30, 26, 42);
}

.dark {
background-color: var(--darkBg);
color: rgb(185, 255, 255);
}

.light {
background-color: rgb(223, 192, 179);
color: rgb(21, 19, 42);
}

* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-sizing:content-box;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  border: 2px double;
}

nav a {
  font-size: 24px;
  padding-right: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  margin: 30px;
  padding: 30px;
  border: 2px double;
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1 {
  text-align: center;
  align-items: center;
  font-size: 45px;
  color: aquamarine;
  text-shadow: 1px 1px blue;
  padding: 140px;
}

h2 {
  text-align: center;
  order: 1;
  font-size: 50px;
}

form {
    order: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

input {
  width: -webkit-fill-available;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  background-color: rgb(54, 45, 45);
  color: rgb(185, 255, 255);
  border-radius: 7px;
  resize: vertical;
}
textarea {
  width: -webkit-fill-available;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  background-color: rgb(54, 45, 45);
  color: rgb(185, 255, 255);
  border-radius: 7px;
  resize: vertical;
}

#submit{
    cursor: pointer;
}

#content {
  min-height: 250px;
  resize: vertical;
}

#username {
    /* background-color: rgb(102, 102, 163); */
}
#title {

}

#blog-post {
  order: 2;
}

aside {
    background-image: url(../images/sunflower.jpg);
    background-size:cover;
    clip-path: circle(30%);
    background-position: -10px -20px;
    padding: 0px;
}

#icon {
  order: 1;
}

footer {
  text-align: center;
  bottom: 0px;
}